dj-database-url==0.4.1
Django==1.6.5
django-admin-bootstrapped==2.2.1
django-appconf==0.6
django-imagekit==3.2.4
gunicorn==19.1.1
meld3==1.0.0
pilkit==1.1.12
Pillow==2.6.1
psycopg2==2.5.4
six==1.8.0
South==1.0.1
supervisor==3.1.3
