{% extends 'photography/includes/base.html' %}

{% load custom_tags %}
{% block content %}


{# <div id="scene" class="carousel slide" data-ride="carousel"> #}
  <!-- Indicators -->
  {# <ol class="carousel-indicators"> #}
  {#   {% for album in albums %} #}
  {#   <li data-target="#scene" data-slide-to="{{album.id}}"></li> #}
  {#   {% endfor %} #}
  {# </ol> #}

	<!-- Wrapper for slides -->
{# 	<div class="carousel-inner layer" role="listbox"> #}
{#     {% for album in albums %} #}
{# 		<div class="item"> #}
{#       <div class="fill layer" data-depth="0.10"><img src="../media/{{album.album_cover}}" style="height: 600px; width: auto; margin: 100px auto 0px;"></div> #}
{# 		</div> #}
{#     {% endfor %} #}
{#  #}
{# 	</div> #}
{#  #}
{#   <section> #}
{#       <nav class="nav-circlepop"> #}
{#           <a class="prev" href="#scene" data-slide="prev"> #}
{#               <span class="icon-wrap"></span> #}
{#           </a> #}
{#           <a class="next" href="#scene" data-slide="next"> #}
{#               <span class="icon-wrap"></span> #}
{#           </a> #}
{#       </nav> #}
{#   </section> #}
{#  #}
{#  #}
{#  #}
{# </div> #}
<!-- end of carousel -->




{# <div id="triangle-topleft"> #}
{#   <p class="rotate-text" id="my-albums">Places</p> #}
{# </div> #}

<div class="grid gridLoading effect-2 container-fluid" id="gridLoading">
  {% set_num_of_albums as album_num %}

  {% for album in albums %}
    {% if album_num == 0 or album_num == 5 %}
        {% increment album_num as album_num %}
        <figure class="effect-milo" style="width: 50%;">
        <img src="..{{album.album_cover_thumbnail.url}}" alt="{{album_num}}"/>
          <figcaption>
            <h2><span>{{album.name}}</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="/albums/{{album.get_absolute_url}}">View more</a>
          </figcaption>			
        </figure>
        {% if album_num > 5 %}
          {% set_num_of_albums as album_num %}
        {% endif %}
    {% else %}

        {% increment album_num as album_num %}
        <figure class="effect-milo" style="width: 25%;">
        <img src="..{{album.album_cover_thumbnail.url}}" alt="{{album_num}}"/>
          <figcaption>
            <h2><span>{{album.name}}</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="/albums/{{album.get_absolute_url}}">View more</a>
          </figcaption>			
        </figure>
        {% if album_num > 5 %}
          {% set_num_of_albums as album_num %}
        {% endif %}
    {% endif %}

  {% endfor %}
</div>


{% load staticfiles %}
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/AnimOnScroll.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>

<script type="text/javascript" charset="utf-8">


  new AnimOnScroll( document.getElementById( 'gridLoading' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  });
  

  {# var stickyTriangle = $('#triangle-topleft').offset().top; #}
  {# $(window).resize(function() { #}
  {#   stickyTriangle = $('#triangle-topleft').offset().top; #}
  {#  #}
  {# }); #}

  {# $(window).scroll(function(event){ #}
  {#     if ($(window).scrollTop() > stickyTriangle) { #}
  {#         $('#triangle-topleft').addClass('affix'); #}
  {#     } #}
  {#     else { #}
  {#         $('#triangle-topleft').removeClass('affix'); #}
  {#     }   #}
  {# }); #}


  {# var scene = document.getElementById('scene'); #}
  {# var parallax = new Parallax(scene); #}





  $('.button-toggle-navigation').on('click', function() {
    $(this).toggleClass('isActive');
    //if ($(this).hasClass('isActive')) {
     // $('.top-menu-bar').css('background', 'transparent');
    //}
    //else {
     // $('.top-menu-bar').css('background', '#fff');
      
    //}

  });
</script>
{% endblock %}


{% block customstyle %}

  <style>
    .top-menu-bar {
    }
  </style>
{% endblock %}



