{% extends 'photography/includes/base.html' %}

{% block content %}

<div id="album-cover" style="background-image:url('../../media/{{album.album_cover}}')">
    <div class="album-cover-text"><span>{{album.name}}</span></div>
</div>




{# <div class="gamma-container gamma-loading" id="gamma-container"> #}
{#  #}
{#     <ul class="gamma-gallery"> #}
{#  #}
{#         {% for photo in photos %} #}
{#         <li> #}
{#         <div data-alt="{{photo.caption}}" data-description="<h3>{{photo.caption}}</h3>" data-max-width="1800" data-max-height="1350"> #}
{#                 <div data-src="../../media/{{ photo.image }}" data-min-width="200"></div> #}
{#             </div> #}
{#         </li> #}
{#         {% endfor %} #}
{#     </ul> #}
{#  #}
{#     <div class="gamma-overlay"></div> #}
{#  #}
{#  #}
{# </div> #}


<div id="grid-gallery" class="grid-gallery">
				<section class="grid-wrap">
					<ul class="grid">
						<li class="grid-sizer"></li><!-- for Masonry column width -->
            {% for photo in photos %}
						<li>
							<figure>
								<img src="../../media/{{ photo.image }}"/>
								<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
							</figure>
						</li>


          {% endfor %}
					</ul>
				</section><!-- // grid-wrap -->
				<section class="slideshow">
					<ul>
            
            {% for photo in photos %}
						<li>
							<figure>
								<figcaption>
									<h3>Vice velit chia</h3>
									<p>Chillwave Echo Park Etsy organic Cosby sweater seitan authentic pour-over. Occupy wolf selvage bespoke tattooed, cred sustainable Odd Future hashtag butcher.</p>
								</figcaption>
                <img src="../../media/{{ photo.image }}"/>
							</figure>
						</li>

            {% endfor %}
					</ul>
					<nav>
						<span class="icon nav-prev"></span>
						<span class="icon nav-next"></span>
						<span class="icon nav-close"></span>
					</nav>
					<div class="info-keys icon">Navigate with arrow keys</div>
				</section><!-- // slideshow -->
			</div><!-- // grid-gallery -->

{% endblock %}

