{% extends 'photography/includes/base.html' %}
{% load thumbnail %}

{% block content %}

<div id="album-cover" style="background-image:url('../../media/{{album.album_cover}}')"  data-adaptive-background='1' data-ab-css-background='1'>
    <div class="album-cover-text"><span>{{album.name}}</span></div>
</div>

<!--
<div id="photo-filters">
    <ul>
        {% for album in albums %}
        <li><a href="/gallery/{{album.get_absolute_url}}">{{album.name}}</a></li>
        {% endfor %}
    </ul>

</div>
--!>

<div class="photo-thumbnails">
    {% if photos %}
            <div class="row">
            {% for photo in photos %}
                <div class="col-md-3">
                    <div class="thumbnail">
                    {% thumbnail photo.image "300x300" crop="center" as im %}
                        <a data-pjax href="{{photo.slug}}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                    {% endthumbnail %}
                    </div>
                </div>
            {% endfor %}
            </div>
    {% else %}
        <strong>there is no photos or there is problem loading photos</strong>
    {% endif %}
</div>

<div class="photo-detail">
    <div id="pjax-container"></div>
</div>
{% endblock %}

