
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}


html, body, section, .container, .codrops-header {
	height: 100%;
}

body {
	background: #fff;
	color: #566473;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #34495e;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #566473;
}



section {
	padding: 1em;
	text-align: center;
	position: relative;
	margin: 40px;
	height: calc(100% - 80px);
	overflow: hidden;
}

section h2 {
	font-weight: 300;
	color: rgba(255,255,255,0.3);
	font-size: 3.5em;
}

section:not(.related)::before,
section:not(.related)::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background: rgba(255,255,255,0.4);
	left: 25%;
	top: 50%;
}

section:not(.related)::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

section:not(.related)::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



/* SVG wrap */
.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

