
.button-toggle-navigation {
  background-color: transparent;
  border: 0;
  border-bottom: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  font-size: 20px;
  cursor: pointer;
  height: 1em;
  margin: .25em .65em;
  outline: 0;
  position: relative;
  transition: border-color 150ms ease-out, transform 150ms ease-out;
  width: 1.3em;
}



.button-toggle-navigation::before {

  border-bottom: 0.2em solid #fff;
  bottom: 0.193em;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  transition: transform 200ms ease-out;
}

.button-toggle-navigation::after {

  border-bottom: 0.2em solid #fff;
  bottom: 0.193em;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  transition: transform 200ms ease-out;
}

.button-toggle-navigation.special::after{

  border-bottom: 0.2em solid #fff;
  bottom: 0.193em;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  transition: transform 200ms ease-out;
}


  .button-toggle-navigation span {
    color: transparent;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute; }

.isActive {
  border-color: transparent;
  transform: rotateZ(90deg); }
  .isActive::after, .isActive::before {
    transition: transform 200ms ease-out; }
  .isActive::after {
    transform: rotateZ(45deg); }
  .isActive::before {
    transform: rotateZ(-45deg); }

*,
*::before,
*::after {
  box-sizing: border-box; }

