/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

/* html { */
/*     font-size: 1em; */
/*     line-height: 1.4;width: 100%; */
/* } */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}


.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#site-wrapper {
  position: relative;
  width: 100%;
  /* overflow-x: hidden; */
  height: 100%; 
}


.site-header{
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.site-header > header{
    padding: 30px 30px 10px 20px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.site-header > header h1{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.site-header > header h1 span{

}
.site-header > header h2, p.info{
    font-size: 16px;
    font-style: italic;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.top-menu-bar{
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 15px;
    padding-top:10px;
    width: 100%;
    /* background: #000; */
    text-transform: uppercase;
    z-index: 999;
    position: absolute;
    top: 0;
    /* -moz-box-shadow: 1px 0px 2px #000; */
    /* -webkit-box-shadow: 1px 0px 2px #000; */
    /* box-shadow: 1px 0px 2px #000; */
}

#logo {
    font-size: 23px;
    margin-top: 20px;
    padding: 0px 10px;
    letter-spacing: 1px;
    display: block;
    color:#000;
    cursor: pointer;
    float: left;
}

.top-menu-bar a:hover{
    color: #000;
    text-decoration: none;
}
.top-menu-bar span.right{
    float: right;
}
.top-menu-bar span.right a{
    float: none;
    display: inline;
}



/* Media Queries */
@media screen and (max-width: 767px) {
    .site-header > header{
        text-align: center;
    }

}


#scene {
  width: 100%;
}

.carousel,.item,.active{height:100%;  overflow: hidden; }

.carousel-inner{
    height:110%;
    position: absolute;
    width: 110% !important;
    left: -5%;
    top: -5%;
}

.fill{width:100%;height:100%;background-position:center;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
    body {
        padding-left: 0;
        padding-right: 0;
    }
}


.carousel-control.left, .carousel-control.right {
    background-image: none !important
}


.block {
  position:relative;
  height: 500px;
  background: black;
}

.block-title {
  position: absolute;
  top: 60px;
  left: 500px;
  font-size: 50px;
}


.block-title h2 {
  text-align: center;
  margin: 0;
  color: #fff;

}

#album-cover {

	/* background-attachment: fixed; */
  background-size: cover;
  /* width:100%; */
  min-height: 500px;
  top: 30%;
  position:relative;

}

header {
  text-align: center;
  height: auto;
  padding: 92px 0 72px;
  border-bottom: 10px solid #efefef;
  min-height: initial;
}

.container-cover {
  width: 960px ;
  margin: 0 auto;
}


.container-cover h1 {
  text-transform: capitalize;:
}

.gallery-container {
  z-index:10;
  position:relative;
  display:inline-block;
  width:100%;
  padding:50px;
}

.gallery>li {
  display: inline-block;
}


.gallery img {
  width:300px;
  height:auto;
  margin: 0;
}
.album-cover-text {
  text-transform:uppercase;
  position: absolute;
  height: 80px;
  color:#000;
}

.album-cover-text span {
  /* border: solid 2px; */
  font-size:2.5vw;
  font-weight:normal;
  padding:5px;
}

#photo-filters {
  position:relative;
  width:100%;
  height:15%;
  z-index:20;
  background-color:white;
}

#photo-filters ul {
  margin:0 100px;
  padding-top:30px;
}

#photo-filters li {
  text-transform:uppercase;
  font-weight:500;
  display:inline-block;
  margin:0 100px;
  font-size:15px;
}

.fixed { 
   position: fixed !important; 
   zoom:1; /* This enables hasLayout, which is required for older IE browsers */
   top: 0px !important;
}


.form-control-feedback {
  position: relative;
  display: inline;
  top: 0;
  line-height: 14px;
}

.modal-content {
  padding: 30px;
}

.alert-success, .alert-danger {
  display:none;
}


#album-covers-index {
  /* margin: 150px auto; */
  padding: 0 150px;
  top: -185px;
}

.single-album-cover {
  width: 25%;
  display: inline-block;
}


.site-footer {
  background: orange;
  height: 142px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
 /*   a:visited {
        text-decoration: underline;
    }*/

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

