<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Joyceful{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% load staticfiles %}
        <link rel='shortcut icon' type='image/x-icon' href='{% static 'favicon.ico' %}' />
        {# <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> #}
        <link href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/parallax.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css">
        {# <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> #}
        <link rel="stylesheet" href="{% static 'css/nav-component.css' %}">
        <link rel="stylesheet" href="{% static 'css/hover-effects-set1.css' %}">
        <link rel="stylesheet" href="{% static 'css/overlayMenu.css' %}">

        <link rel="stylesheet" href="{% static 'css/hamburger.css' %}">
        <link rel="stylesheet" href="{% static 'css/gridLoading.css' %}">

        <link rel="stylesheet" href="{% static 'css/photoswipe/photoswipe.css' %}">
        <link rel="stylesheet" href="{% static 'css/photoswipe/default-skin/default-skin.css' %}">


        {% block customstyle %}{% endblock %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div id="site-wrapper">


		<div class="overlay overlay-slidedown">
			<nav>
				<ul>
          {% for album in albums %}
          <li><a href="/albums/{{album.get_absolute_url}}"><span>{{album.name}}</span></a></li>
          {% endfor %}
				</ul>
			</nav>
		</div>

    <div class="content-wrap" class="container fill">
      <div class="site-canvas">
          <div class="site-header">
              <nav class="top-menu-bar nav-down">
                  <a id="logo" href="/">
                      <strong>Joyceful</strong>
                  </a>
                  <span class="right">
                      {# <a id="trigger-overlay"><i class="fa fa-envelope fa-lg"></i></a> #}

                      <button id="trigger-overlay" class="button-toggle-navigation">
                        <span>Toggle Navigation</span>
                      </button>
                      {# <button class="menu-button" id="open-button">click</button> #}
                  </span>
                  <div class="clr"></div>
              </nav>
              <!-- <header>
                  <p class="header-section">

                  </p>
              </header> -->
          </div>

        {% block content %}{% endblock %}

      <footer class="footer">
        <div class="container">

          <div class="text-muted">
            <span>© 2014 Joyceful. All Rights Reserved.</span>
            <a class="meta-links" href="http://instagram.com/joycecyoj01/"><i class="fa fa-instagram fa-lg"></i>Instagram</a>
            <a class="meta-links" href="mailto:someone@example.com" id="trigger-overlay"><i class="fa fa-envelope fa-lg"></i>Feedback</a>
          </div>

        </div>
      </footer>
      </div><!-- content -->



    </div>







</div> <!-- end of site wrapper -->



    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    {# <script src="{% static 'js/parallax.js' %}"></script> #}


    <script src="{% static 'js/overlay-trigger.js' %}"></script>
    <script src="{% static 'js/overlayMenu-1.js' %}"></script>



    {# <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script> #}
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/AnimOnScroll.js' %}"></script>

    <script src="{% static 'js/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'js/photoswipe/initPswp.js' %}"></script>



    <script src="{% static 'js/main.js' %}"></script>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    </body>
</html>
